/* Основные стили проекта. Это стили для темы, которая верстается первой. */

/* ОБЩИЕ СТИЛИ */
.page {
  background-image: var(--background-image-path);
  background-color: var(--color-bg);

  position: relative;
  font-family: var(--font-family), monospace;
  font-size: var(--font-main-size);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
  box-sizing: border-box;
}

.decorated-zone {
  padding-left: var(--indent-frame-horizontal);
  padding-right: var(--indent-frame-horizontal);
}

.floating-item {
  position: absolute;
  top: var(--indent-frame-vertical);
  right: var(--indent-floating-item);
  text-transform: uppercase;
  color: var(--accent-color);
}

.floating-item::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  top: 9px;
  right: -20px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px var(--accent-color);
}

.text-decor {
  color: var(--accent-color);
}

.accent-text {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.accent-text:hover {
  border-bottom: 1px solid var(--color-main-font);
}

.accent-text:focus {
  outline: none;
}

.accent-text:focus-visible {
  outline: 1px solid var(--color-main-font);
}

/* HEADER */
.header__theme-menu {
  width: min-content;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-inside-nav);
  color: var(--color-menu-items);
}

.header__theme-menu-button {
  text-transform: lowercase;
  font-weight: var(--font-weight-regular);
  background-color: transparent;
  border: 1px transparent solid;
  line-height: var(--font-line-height-min);
  width: 70px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-main-size);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-outline);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--frame-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--color-outline);
}

.header {
  position: relative;
  height: 100vh;
  min-height: 668px;
  align-content: center;
  padding-top: var(--indent-frame-horizontal);
  padding-bottom: var(--indent-frame-horizontal);
}

.header-container {
  position: relative;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  justify-content: center;
}

.corner-frame::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--frame-color);
  bottom: var(--indent-frame-vertical);
  left: var(--indent-frame-horizontal);
  border-top: none;
  border-right: none;
}

.corner-frame::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--frame-color);
  top: var(--indent-frame-vertical);
  right: var(--indent-frame-horizontal);
  border-bottom: none;
  border-left: none;
}

.header__theme-title {
  font-size: var(--font-title-size);
  line-height: 83%;
  color: var(--shadow-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__theme-subtitle {
  line-height: var(--font-line-height-normal);
}

/* MAIN */
.main {
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-normal);
  padding-top: var(--padding-inside-section);
  padding-bottom: var(--padding-inside-section);
}

.main-container {
  display: grid;
  gap: var(--gap-between-sections);
  position: relative;
}

.main__section {
  display: grid;
  gap: var(--gap-inside-section);
  width: 100%;
}

.main__section__cards-container {
  display: grid;
  gap: var(--gap-between-cards);
}

.main__section__card-text {
  color: var(--color-main-font);
}
.section-gallery .main__section__cards-container {
  gap: var(--gap-gallery);
}

.main__section-card {
  display: grid;
  gap: var(--gap-inside-card);
}

.main__section-title {
  font-size: var(--font-main-size);
  line-height: var(--font-line-height-normal);
  color: var(--color-main-section-title);
}

.main__section__card-title {
  font-size: var(--font-main-size);
  line-height: var(--font-line-height-normal);
}

.main__section__gallery-container {
  display: grid;
  gap: var(--gap-gallery);
  overflow: hidden;
  position: relative;
  grid-template-columns: 1fr;
}

.gallery-item {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__section-img {
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  object-fit: cover;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--color-title-decore);
  font-weight: var(--font-weight-regular);
}

.bold-text {
  font-weight: var(--font-weight-bold);
}

/* FOOTER */
.footer {
  height: 100vh;
  min-height: 668px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__title {
  text-transform: lowercase;
  font-size: var(--font-title-size);
  line-height: 83%;
  color: var(--shadow-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  /* HEADER */
  .header {
    min-height: 1024px;
  }

  .header__theme-title {
    margin-left: -20px;
  }

  .header__theme-subtitle {
    width: 50%;
    justify-self: right;
  }

  /* MAIN */
  .section-why {
    grid-template-columns: 1fr 2fr;
  }

  .section-what {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
  }
  .section-what .main__section__card-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .section-what .main__section__cards-container {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .section-how {
    grid-template-columns: 1fr 2fr;
  }

  .main__section__gallery-container {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
  }

  .gallery-item {
    width: auto;
  }

  .gallery-item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .gallery-item:nth-child(2) {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
  .gallery-item:nth-child(5) {
    grid-column: 2 / -1;
    grid-row: 3 / 3;
  }
  .gallery-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
  }
  .gallery-item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  /* FOOTER */
  .footer {
    min-height: 1024px;
  }
}

@media (width >= 1024px) {
  /* HEADER */
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: baseline;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header-container {
    gap: 0px;
  }

  /* MAIN */
  .section-why {
    gap: calc(var(--gap-inside-section) - 10px);
  }
  .section-what {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-what .main__section__cards-container {
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .section-what .main__section-card {
    align-content: baseline;
  }

  .section-how {
    gap: calc(var(--gap-inside-section) - 10px);
  }

  /* FOOTER */
  .footer {
    min-height: 768px;
  }
}
