/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* ОБЩИЕ СТИЛИ */
.page {
  position: relative;
  inline-size: var(--resolution);
  font-family: var(--font-family), sans-serif;
  font-size: var(--font-main-size);
  background-image: var(--background-image-path);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}

.decorated-zone {
  padding-left: var(--indent-frame-horizontal);
  padding-right: var(--indent-frame-horizontal);
}

.floating-item {
  position: absolute;
  top: var(--indent-frame-vertical);
  right: var(--indent-floating-item);
  text-transform: uppercase;
  color: var(--accent-color);
}

.floating-item::after {
  content: "";
  position: absolute;
  inline-size: 9px;
  block-size: 9px;
  top: 9px;
  right: -20px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px var(--accent-color);
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--color-dark-main);
}

.text-decor {
  color: var(--accent-color);
}

.accent-text {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.bold-text {
  font-weight: var(--font-weight-bold);
}

/* HEADER */

.header__theme-menu {
  width: min-content;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--gap-inside-nav);
  color: var(--accent-color);
}

.header__theme-menu-button {
  text-transform: lowercase;
  font-weight: var(--font-weight-regular);
  background-color: transparent;
  border: 0px;
  line-height: var(--font-line-height-min);
  width: 70px;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-main-size);
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-outline);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--color-outline);
  opacity: 0.9;
}

.header__theme-menu-button:focus {
  outline: none;
  border: 1px solid var(--color-outline);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}
.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--color-outline);
}
.header {
  position: relative;
  min-height: 668px;
  height: 100vh;
  background-image: var(--background-image-path);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-content: center;
  padding-top: var(--indent-frame-horizontal);
  padding-bottom: var(--indent-frame-horizontal);
}

.header-container {
  position: relative;
  display: grid;
  height: inherit;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header::before,
.footer-container::before {
  content: "";
  position: absolute;
  top: var(--indent-frame-vertical);
  right: var(--indent-frame-horizontal);
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
  border-bottom: none;
  border-left: none;
}

.header::after,
.footer-container::after {
  content: "";
  position: absolute;
  bottom: var(--indent-frame-vertical);
  left: var(--indent-frame-horizontal);
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
  border-top: none;
  border-right: none;
}

.header__theme-title {
  font-size: var(--font-title-size);
  line-height: 83%;
  color: var(--shadow-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__theme-subtitle {
  line-height: var(--font-line-height-normal);
}

/* MAIN */
.main {
  min-height: 5355px;
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-normal);
  background-color: var(--color-dark-main);
  padding-top: var(--padding-inside-section);
  padding-bottom: var(--padding-inside-section);
}

.main-container {
  display: grid;
  gap: var(--gap-between-sections);
  position: relative;
}

.main__section {
  display: grid;
  gap: var(--gap-inside-section);
  width: 100%;
}

.main__section__cards-container {
  display: grid;
  gap: var(--gap-between-cards);
}

.main__section__card-text {
  color: var(--color-light-main);
}
.section-gallery .main__section__cards-container {
  gap: var(--gap-gallery);
}

.main__section-card {
  display: grid;
  gap: var(--gap-inside-card);
}

.main__section-title {
  font-size: var(--font-main-size);
  line-height: var(--font-line-height-normal);
}

.main__section__card-title {
  font-size: var(--font-main-size);
  line-height: var(--font-line-height-normal);
}

.main__section__gallery-container {
  display: grid;
  width: 100%;
  gap: var(--gap-gallery);
}

.gallery-item {
  width: 355px;
  overflow: hidden;
}

.main__section-img {
  height: 100%;
}

.block-1 {
  height: 142px;
}

.block-2 {
  height: 355px;
}

.block-3 {
  height: 237px;
}

/* FOOTER */
.footer {
  min-height: 668px;
  background-color: var(--color-dark-main);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__title {
  text-transform: lowercase;
  font-size: var(--font-title-size);
  line-height: 83%;
  color: var(--shadow-color);
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  /* HEADER */

  .header {
    min-height: 1024px;
  }

  .header-container {
    gap: 155px;
  }

  .header__theme-title {
    margin-left: -20px;
  }

  .header__theme-subtitle {
    width: 50%;
    justify-self: right;
  }

  /* MAIN */
  .main {
    min-height: 3682px;
  }

  .section-why {
    grid-template-columns: 1fr 2fr;
  }

  .section-what {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
  }
  .section-what .main__section__card-title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .section-what .main__section__cards-container {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .section-how {
    grid-template-columns: 1fr 2fr;
  }

  .block-1 {
    height: auto;
  }

  .block-2 {
    height: auto;
  }

  .block-3 {
    height: auto;
  }

  .main__section__gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 230px);
    grid-template-rows: 192px 230px 318px;
    gap: var(--gap-gallery);
  }

  .gallery-item {
    overflow: hidden;
    width: auto;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gallery-item:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .gallery-item:nth-child(2) {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
  .gallery-item:nth-child(5) {
    grid-column: 2 / -1;
    grid-row: 3 / 3;
  }
  .gallery-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
  }
  .gallery-item:nth-child(4) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .main__section-img {
    height: 100%;
  }

  /* FOOTER */
  .footer {
    min-height: 1024px;
  }
}

@media (width >= 1024px) {
  /* HEADER */
  .header {
    min-height: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: baseline;
    /* height: 240px; */
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header-container {
    grid-template-rows: 300px auto 300px;
    gap: 0px;
  }

  .header__theme-title {
    margin-left: -20px;
  }

  .header__theme-subtitle {
    width: 50%;
    justify-self: right;
  }

  /* MAIN */
  .main {
    min-height: 3352px;
  }

  .section-why {
    grid-template-columns: 1fr 2fr;
  }

  .section-what {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .section-what .main__section__cards-container {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .section-what .main__section-card {
    align-content: baseline;
  }

  .section-how {
    grid-template-columns: 1fr 2fr;
  }

  .block-1 {
    height: auto;
  }

  .block-2 {
    height: auto;
  }

  .block-3 {
    height: auto;
  }

  .main__section__gallery-container {
    grid-template-columns: repeat(3, 315px);
    grid-template-rows: 260px 315px 433px;
    gap: var(--gap-gallery);
  }

  .main__section-img {
    height: 100%;
  }

  /* FOOTER */
  .footer {
    min-height: 768px;
  }
}
